@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--green: #3D5656;
--accent: #68B984;
--light-bg: #E6EDF2;
--text-dark: #1C2828;
}
*{
font-family: "Poppins", sans-serif; 
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
outline: none; border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;
}
section {
  padding: 2rem 9%;       
}
html{
font-size: 62.5%;
scroll-behavior: smooth;
scroll-padding-top: 6rem;
overflow-x: hidden;
}



/*  THIS IS HEADER */
header{
background-color:#000000;
width: 100%;
z-index: 999;
display: flex;
justify-content: space-between;
padding: 10px 100px;
position: fixed;
align-items: center;
top: 0;
left: 0;
right: 0;
box-shadow: 0 .5rem 1rem rgb(155, 219, 212);
}
.icons{
font-size: 2.8rem;      
padding: 0.6rem 0.3rem;    
color: #549393;
cursor: pointer;
display: none;
left: 20px;
}
#check{
display: none;
}
.navi a {
color: #f5f5f5;
font-weight: 600;
font-size: 2rem;
text-decoration: none;
padding: 0 1.5rem;
 }
.navi a:hover{
color: #40e87b;
transform: scale(1.2);
transition: 0.5s ease;
}
.location {
display: inline-block;
margin-top: .5rem;
border-radius:3rem;
background-color: #549393 ;
padding: .9rem 3.5rem;
cursor: pointer;
font-size: 1.4rem;
text-decoration: none;
font-weight: 600;
margin-right: 5px;
}
.location a {
 color: #ffffff;
}
.location a i {
    margin-right: 7px;
}
/*  THIS IS LAST OF HEADER */

/*  THIS IS HOME */
#home{
display: block;
align-items: center;
max-height: 130vh;
background: url(sl_020620_27800_35.jpg)no-repeat;
background-size: cover;
background-position:  center;
flex-direction:row;
text-align: center;
margin-top: 20px;
padding-top: 150px;
padding-bottom: 80px;
}
#home .content h3{
font-size: 4rem;
color: #1c2828 ;
}
#home .content h4{
font-size: 2rem;
color: #202262 ;
padding: 1rem 0;
line-height: 1.5;
}
#home .content p{
font-size: 2rem;
color: #3D5656 ;
padding: 1rem 0;
line-height: 1.5;
}
.btn{
display: inline-block;
margin-top: 1rem;
border-radius: 5rem;
background-color: #103939;
color: #eee;
padding: .9rem 3.5rem;
cursor: pointer;
font-size: 1.7rem;
text-decoration: none;
}
.btn:hover{
background-color:#549393 ;
transform: scale(1.1);
transition: 0.7s ease;
}
/* THIS IS HOME IN facebook link */
.socialbuttons{
bottom: 1rem;     
margin-top: 3rem;              
display: flex;
gap: 10px;
align-items: center;
margin-left: 42%;
}
.socialbuttons h2{
color: #101141;
}
.socialbuttons a {
color: #4130d9;
font-size: 2rem;
}
/*  THIS IS LAST OF HOME  */

/*  THIS IS ABOUT US  */
#About {
padding: 3rem 2rem;
text-align: center;
background-color: #e6edf2;
padding: 2rem 9%;  
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.cardd{
background: rgb(234, 229, 220);
width: 20em;
box-shadow: 0 5px 25px rgba(1 1 1/ 55%);
border-radius: 10pX;
padding: 25px;
margin: 15px;
margin-top: 35px;
}
.cardd:hover{
transform: scale(1.1);
transition: 0.7s ease;
}

/*  THIS IS LAST OF ABOUT US */

/*  THIS IS PRODUCT  */
.title {
display: flex;
justify-content: center;
color: orange;
font-size: 3.3em;
font-weight: 800;
margin-bottom: 30px;
}
.contentt {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.card{
background: rgb(234, 229, 220);
width: 20em;
box-shadow: 0 5px 25px rgba(1 1 1/ 55%);
border-radius: 10pX;
padding: 25px;
margin: 15px;
}
.card:hover{
transform: scale(1.1);
transition: 0.7s ease;
}
.info h2{
text-align: center;
}
.info P{
text-align: center;
}
/*  THIS IS LAST OF PRODUCT  */

/*  THIS IS SERVICE  */
#serviceb {
background: rgb(5, 22, 30);
padding: 3rem 2rem;
}
#serviceb h1 {
color: rgb(112, 157, 185);
font-size: 3.3em;
font-weight: 800;
margin-bottom: 30px;
text-align: center;       
}
.servicee {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
padding: 25px;
margin: 15px;
margin-top: 35px; 
}
.abdo{
margin: 10px 60PX;  
}
.abdo p {
color: #d3d3d3;
font-size: 1.5rem;
font-weight: 400;
line-height: 1.8;
max-width: 500px;
}
.abdo p span {
display: flex;
font-size: 2rem;
font-weight: 600;
color: rgb(71, 127, 162);
margin-bottom: 10px;
}
.abdo{
border-radius: 10pX;
padding:20px;
margin: 10px 60PX;  
gap: 20PX;
}
.abdo p span {
display: flex;
font-size: 2rem;
font-weight: 600;
color: rgb(71, 127, 162);
margin-bottom: 10px;
}
.abdo h2{
display: flex;
font-size: 2rem;
font-weight: 600;
color: rgb(44, 98, 132);
margin-bottom: 10px;
}
/*  THIS IS LAST OF SERVICE  */

/*  THIS IS Contact  */

#Contact h3{
color: rgb(112, 157, 185);
font-size: 3.3em;
font-weight: 800;
margin-bottom: 30px;
text-align: center;     
}
.contenttb {
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 160PX;
}
.cardt:hover{
transform: scale(1.1);
transition: 0.7s ease;
}
.imagetT{
width: 15px;
height: 20px;
padding-left: 50px;
justify-content: center;
}
.infot P{
text-align: center;
}
.imaget {
width: 15px;
height: 20px;
padding-left: 25px;
justify-content: center;
}
/*  THIS IS LAST OF Contact  */

/*  THIS IS FOOTER  */
.footer{
background-color: #000;
color: white;
padding: 2em;
display: flex;
margin-top: 60px;
flex-direction: column-reverse;
}
.footer p{
padding-left: 20px;
font-size: larger;
}
/*  THIS IS LAST OF FOOTER  */








@media (max-width: 430px){


/* THIS IS MEdIA header */
header{
padding: 16px;
}
.icons {
display: inline-flex;
 }
.icons #close-icon {
display: none;
}
.navi  {
position: absolute;
top: 100%;
left: 0;
width: 100%;
height:0rem;
background: rgb(5, 12, 14);
backdrop-filter: blur(50px);
box-shadow: 0 .5rem 1rem rgb(12, 174, 147);
transition: .3S ease;
overflow: hidden;
 }
.navi a {
display: block;
margin: 1.5rem 0;
text-align: center;
transform: translateY(-50px);
transition: .3S ease;
}
#check:checked~.navi a{
transform: translateY(0px);
}
#check:checked~.icons #menu-icon{
display: none;
}
#check:checked~.icons #close-icon{
display: block;
}
#check:checked~.navi{
height: 30rem;
}

/* THIS IS last of MEdIA header */

/* THIS IS MESIA HOME IN facebook link */
.socialbuttons{
margin-left: 30%;
}
/*  THIS IS LAST OF MEDIA HOME  */

/*  THIS IS MIDEA OF ABOUT US  */
.cardd{
background: rgb(210, 225, 247);
width: 40em;
box-shadow: 0 5px 25px rgba(1 1 1/ 55%);
border-radius: 10pX;
padding: 25px;
margin: 15px;
margin-top: 35px;
}
.cardd:hover{
transform: scale(1.1);
transition: 0.3s ease;
}
/*  THIS IS LAST OF MIDEA ABOUT US  */

/*  THIS IS MIDEA OF PRODUCTS  */
.title {
display: flex;
justify-content: space-around;
color: orange;
font-size: 3.3em;
font-weight: 800;
margin-bottom: 30px;
}
.contentt {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.card{
background: rgb(234, 229, 220);
width: 150px;
box-shadow: 0 5px 15px rgba(1 1 1/ 55%);
border-radius: 10pX;
padding: 10px;
margin-right: 10px;
}
.card:hover{
transform: scale(1.1);
transition: 0.7s ease;
}
.media{
width: 100px;
}
/*  THIS IS LAST OF media PRODUCTS  */

/*  THIS IS MEDIA OF  SERVICE  */
#serviceb {
background: rgb(5, 22, 30);
}
#serviceb h1 {
color: rgb(112, 157, 185);
font-size: 3.3em;
font-weight: 800;
text-align: center;    
}
.servicee {
display: block;
flex-direction: row;
flex-wrap: wrap;
padding: 0;
margin: 0;
}
.abdo p {
color: #d3d3d3;
font-size: 1.5rem;
font-weight: 400;
line-height: 1.8;
padding: 0;
margin: 0;
}
.abdo p span {
display: flex;
font-size: 2rem;
font-weight: 600;
color: rgb(71, 127, 162);
margin-bottom: 10px;
padding: 0;
margin: 0;
}
.abdo{
gap: 20PX;
padding: 0;
margin: 0;
}
.abdo p span {
display: flex;
font-size: 2rem;
font-weight: 600;
color: rgb(71, 127, 162);
margin-bottom: 10px;
padding: 0;
margin: 0;
}
.abdo h2{
display: flex;
font-size: 2rem;
font-weight: 600;
color: rgb(44, 98, 132);
margin-bottom: 10px;
padding: 0;
margin: 0;
}
/*  THIS IS LAST MEDIA OF SERVICE  */

/*  THIS IS media Contact  */
.contenttb{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 80PX;
}
.cardtL{
margin-left: 30px;
}
/*  THIS IS LAST OF media Contact  */
}

   
